nav{
    font-size: 25px;
    padding: 20px;
    background: rgb(0,42,255);
    background: radial-gradient(circle, rgba(0,42,255,1) 0%, rgba(0,0,0,1) 100%);
}
.txt_nav{
    text-align: end;
}
body{
    background-color:rgb(10, 2, 53);
}
.margem{
    border-radius: 50%
}
.lg{
    color:white;
    font-size: 30px;
    margin-left: 800px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.rotacao{
    margin-top:50px;
    margin-left:300px
}    
.titulo{
    color:white;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 50px;
}
.rodape{
    color:white;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
        
}
.txt_pr{
    color:white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 25px;
}
.frm_bd{
    margin-left: 500px;
    margin-top: 100px;
}
.a_cb{
    color:white;    
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-left: 25px;
    margin-right: 25px;
    padding: 5px;
}
.a_cb:hover{
    color:aquamarine;
    text-decoration: none;
}
.nav_format{
    text-align: start;
}
.a_rot:hover{
    text-decoration:none;
}
